

.flex-container {
	display: flex;
	width: 100%;
	height: 85vh;    
	flex-flow: column wrap;
	align-items: flex-start;
}


body {
	margin: 0;
}

header{
	background-color: #675ba7;
	height: 15vh;   
	width: 100%;
}

header > h1 {
	text-align: right;
	margin: 0;
	padding: 0.5em;
}

.flex-item {
	text-align: center;
	font-size: 1em;
}

.color1 {
	height: 35vh;
	width: 25%;
	background-color: #675ba7;
	order: 1;
}

.color2 { 
	margin-left: -50%; 
	width: 50%;
	height: 70vh;
	background-color: #9bc850;
	order: 4;
}

.color3 {
	height: 85vh;
	width: 25%;
	background-color: #a62e5c;
	order: 5;
}

.color4 {
	height: 35vh;
	width: 25%;
	background-color: green;
	order: 2;
}

.color5 {
	order: 4;
	width: 75%;
	height: 15vh;
	background-color: #f15b2a;
	order: 3;
}