@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:display=swap"');
* {
     margin: 0;
     font-family: 'Baloo Tammudu 2';
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

#content, #content > div{
    text-align: center;
    border: 0.05em solid white;
}

#content {
    position: relative;
    width: 100%;
    height: 85%;
    text-align: center;
}

#header{
    padding: 0 1em;
    font-size: 18px;
    padding: 0 1em;
    height: 15%;
    width: 100%;
    background-color: rgb(80, 42, 99);
    color: sandybrown;
}

nav{
    display: block;
}

#header > h1 {

    text-align: right;
    font-size: 25px;
    font-weight: bold;  
}

#left-sidebar{
    float: left;
    width: 25%;
    height: 85%;
    background-color: gray;
}

#right-sidebar{
     float: right;
     width: 25%;
     height: 100%;
     background-color: #c0c0c0;
}

#data-cell2{
    background-color: lightblue;
    float: left;
    height: 85%;
    width: 50%;
}

#data-cell4{
    background-color: yellow;
    float: left;
    height: 50%;
    width: 100%;
}

#data-cell3{
    background-color: lightgreen;
    float: left;
    height: 50%;
    width: 100%;
}


#footer{
    height: 15%;
    width: 75%;
    float: left;
    background-color: green;
}

