body, h2, p{
 margin:0;
 padding:0;
}

html, body{
height: 100%;
font-size: 18px;
}


div{
     border: 1px solid black;
}

#footer, #header{ 
 background-color: #eee;
 border-bottom: 1px solid #ccc;
 height: 16vh;
}

#main{
     position: relative;
     background-color: #f7f7f7;
}

#content{
     float:right;
     background-color: lightblue;
     width: 50%;
}

#right-sidebar{
     
     float: left;
     background-color: red;
     width: 25%;
}
