#container{
     width: 100%;
     height: 100%;
}

#block2{
     float: left;
     background-color: #e1fc54;
}


#block5{
     float: left;
     background-color: #e1fc54;
}

#block4{
     float: right;
     background-color: #c862ae;
}

#block3{
     background-color: #e1fc54;
}

#header{
     background-color: #535f98;
}

footer {
     background-color: #21d711;
}